body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.light {
    background-color: #fff;
    color: #000000;
}

.dark {
    background-color: #000000;
    color: #fff;
}

button {
    border: none;
    border-radius: 12px;
    padding: 20px; 
}